<section class="section dashboard">

    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">


            <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-4 col-sm-4">
            <a class="card_link" href="/admin/alunos">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Alunos </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i style="color: #0084ff;" class="bi bi-person-square"></i>
                    </div>
                    <div class="ps-3">
                      <h6><% if (totalAlunos < 10) { %>0<% } %><%= totalAlunos %></h6>
                      <span class="text-success small pt-1 fw-bold"><%= totalAlunosAtivos %></span> <span class="text-muted small pt-2 ps-1">ativos</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><!-- End Revenue Card -->

        

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-4 col-sm-4">
              <a class="card_link" href="/admin/cursos">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Cursos </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-layout-text-window-reverse"></i>
                    </div>
                    <div class="ps-3">
                      <h6><% if (totalCursos < 10) { %>0<% } %><%= totalCursos %></h6>
                      <% let totalTurmas = 0 %>
                      <% cursos.forEach((curso) => { %>
                        <% curso.dataValues.classes.forEach(classe => { %>
                          <% totalTurmas += classe.dataValues.turmas.length %>
                        <% }); %>
                      <% }); %>
                      <span class="text-success small pt-1 fw-bold"><%= totalTurmas %></span> <span class="text-muted small pt-2 ps-1">turmas</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            </div>
          <!-- End Sales Card -->

        
  
        </div>
      </div><!-- End Left side columns -->

    </div>

    <%- include('graficosAdmin'); -%>
    
</section>