<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./components/head'); -%>
<body>
      <%- include('./components/header'); -%>
      <%- include('./components/hero'); -%>
      <%- include('./components/main'); -%>
      <%- include('./components/footer'); -%>
      <%- include('./components/scripts'); -%>
</body>
</html>