<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../components/head'); -%>
<body style="background: #fff;">
    
    <%- include('../../partials/msg'); -%>
    <div style="display: none;" class="pagetitle">
        <h1>Mini Pauta</h1>
    </div><!-- End Page Title -->

    <div class="row" style="padding: 1rem 2rem;">

        <div class="go-back">
            <% if (funcionario.cargo.toLowerCase() != 'professor') { %>
                <a href="/admin/turmas" title="Voltar" style="font-size: 2rem;">
                    <i class="bi bi-arrow-left-square-fill"></i>
                </a>
            <% } else { %>
                <a href="/admin/turmas/minhas-turma/<%= funcionario.id %>" title="Voltar" style="font-size: 2rem;">
                    <i class="bi bi-arrow-left-square-fill"></i>
                </a>
            <% } %>
        </div>

        <div class="col-12" id="page">
            <div class="col-12 row" style="margin-bottom: 1rem;">
                <div class="col-12 fatura_left" align="center">
                    <img src="/assets/img/logo.png" alt="" style="width: 12rem;">
                    <h6>INSTITUTO POLITÉCNICO PRIVADO QINET - IPPQ</h6>
                    <p>
                        Rua do Qinet Km 9 C, Viana<br>
                        Email: ippqinet.geral@gmail.com<br>
                        NIF: 5505161403<br>
                        <h6>LUANDA - ANGOLA</h6>
                    </p>
                </div>
            </div>

            <div class="head_pauta">
                <div style="display: flex;">
                    <h6><span>Disciplina:</span> <%= disciplina.nome_disciplina %></h6>
                    <h6><span>Classe:</span> <%= turma.classe.nivel %>ª</h6>
                    <h6><span>Turma:</span> <%= turma.codigo_turma %></h6>
                    <h6><span>Curso:</span> <%= turma.classe.curso.nome %></h6>
                </div>
                <div style="display: flex;">
                    <h6><span>Turno:</span> <%= (turma.turno.toLowerCase() == 't') ? 'Tarde' : 'Manhã' %></h6>
                    <h6><span>Trimestre:</span> <%= trimestre %>º</h6>
                    <h6><span>Ano Lectivo:</span> <%= turma.ano_lectivo %></h6>
                    <h6><span>Professor:</span> <%= disciplina.professores[0].nome %> <%= disciplina.professores[0].sobrenome %></h6>
                </div>
           </div>

            <table class="table table-hover" id="turmas">
                <thead>
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">1ª Prova</th>
                        <th scope="col">2ª Prova</th>
                        <th scope="col">Média</th>
                      
                    </tr>
                    </thead>

                    <tbody id="filtros">
                        <% turma.matriculas.forEach((matricula, index)=> { %>
                          <% matricula.notas.forEach(nota => { %>
                            <% if (nota.trimestre) { %>
                                <tr class="dados_mini_pauta">
                                    <th scope="col"><%= index + 1 %></th>
                                    <td>
                                        <%= matricula.aluno.nome %>
                                    </td>
                                    <td><%= matricula.aluno.genero %></td>
                                    <td><%= nota.prova1 || '---' %></td>
                                    <td><%= nota.prova2 || '---' %></td>
                                    <td><%= (nota.prova1 + nota.prova2) / 2 || '---' %></td>
                                </tr>
                            <% } %>
                          <% }) %>
                        <% }); %>
                         
                    </tbody>
            </table>

        </div>


        <div class="col-12 btn_gp" align="right">
            <button type="button" class="btn btn btn-success" id="export-pdf"><i class="bi bi-file-earmark-pdf"></i> Exportar para PDF</button>
            <button class="btn btn-primary print-btn"><i class="bi bi-printer"></i> Imprimir</button>
        </div>
    </div>


    
    <%- include('../components/scripts'); -%>

    <script>
        const btn = document.getElementById('export-pdf');
        
        btn.addEventListener('click', () => {
            Utils.exportPDF('page', 'Mini Pauta', 'portrait');
        });

    </script>
    
</body>
</html>                                                                                 